/**************************************** ASSETS ****************************************/

/******************** COLOUR PALETTE 
#010101 - Almost black
#a0a0a0 - Slight gray
#ffffff - White
#1d79c3 - Blue
#268500 - Green

********************/

/******************** FONTS ********************/
@font-face {
  font-family: "Fabrik";
  src: url(../Fonts/fabrik.ttf);
}

@font-face {
  font-family: "Ostrich Sans Black";
  src: url(../Fonts/OstrichSans-Black.otf);
}

@font-face {
  font-family: "Ostrich Sans Bold";
  src: url(../Fonts/OstrichSans-Bold.otf);
}

/**************************************** WEBSITE ****************************************/
/******************** CSS VARIABLES ********************/

.variables {
  --contrast: #120136;
  --alternate: #bbded6;
  --main: #fff;
  --colour: #005792;
  --accent: #eac100;
  --link: #0b8457;
  --fabrik: "Fabrik", Verdana, sans-serif;
  --ostrich-black: "Ostrich Sans Black", Verdana, sans-serif;
  --ostrich-bold: "Ostrich Sans Bold", Verdana, sans-serif;
}

/******************** SHARED ATTRIBUTES ********************/
header,
footer {
  left: 0px;
  right: 0px;
}
header,
nav,
footer {
  z-index: 1;
}

header,
.copy,
.mobile-menu {
  background-color: var(--main);
}

h1,
h2,
h3,
header,
footer,
.menu {
  font-family: var(--ostrich-black);
}

h1,
h2,
h3,
.current {
  color: var(--colour);
}

.copy,
ul,
.info-tile {
  font-family: var(--fabrik);
}

.exhibition,
.library,
.scientific,
.painting,
.ants,
.mammoth {
  background-position: 50% 50%;
  filter: grayscale(100%);
  transition-duration: 500ms;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************** HEADER & FOOTER ********************/

html {
  height: 100%;
}

body {
  background-image: linear-gradient(#120136, #fff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90%;
}

header {
  position: fixed;
  top: 0px;
  border-bottom: 6px ridge var(--accent);
}

.logo {
  width: 200px;
  display: block;
}

.logo img {
  position: absolute;
  height: 50%;
  margin: 10px;
}

.logo-txt {
  font-size: 2.7rem;
  margin: 25px auto auto 100px;
  position: absolute;
  font-weight: 900;
  font-family: var(--ostrich-bold);
  max-width: 65%;
}

.current {
  text-transform: uppercase;
  border-bottom: 2px solid var(--link);
  padding: 0px 5px;
}

footer .current {
  color: var(--accent);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px -10px;
}

nav li {
  padding: 0px 25px 5px 25px;
}

.menu {
  letter-spacing: 5px;
  font-size: 1.5rem;
  margin-right: -20px;
}

#hamburger-menu {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-menu div {
  width: 35px;
  height: 3px;
  background-color: var(--contrast);
  margin: 6px 0;
  transition: 0.4s;
}

.open .menubar-top {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .menubar-middle {
  opacity: 0;
}

.open .menubar-bottom {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 134px;
  right: 0px;
  height: 250px;
  width: 200px;
  padding: 10px 50px 50px 50px;
  line-height: 200%;
  border-left: 6px groove var(--accent);
  border-bottom: 6px ridge var(--accent);
}

footer {
  position: static;
  background-color: var(--contrast);
  color: var(--alternate);
  border-top: 6px ridge var(--accent);
  text-align: left;
  padding: 20px 100px 10px 100px;
  margin: 0px -8px;
}

footer p {
  padding: 0px 8px;
}

/******************** LINKS ********************/

a {
  text-decoration: none;
  color: var(--link);
  letter-spacing: 0.25rem;
  font-weight: 600;
}

a:hover {
  color: var(--contrast);
}

.logo-txt a {
  color: var(--colour);
}

.active a {
  color: var(--accent);
}

.active a:hover {
  color: var(--alternate);
}

footer a {
  color: var(--accent);
}

footer a:hover {
  color: var(--main);
}

/******************** CONTENT ********************/

main {
  margin: 150px 5% 20px 5%;
  min-height: 100%;
  line-height: 200%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  padding-left: 50px;
  padding-top: 30px;
}

.copy {
  color: var(--contrast);
  padding: 50px 10% 110px 10%;
  margin: -50px 5%;
}
.copy ul {
  list-style-type: none;
}

.copy img {
  border: 2px solid var(--accent);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/******************** FLEX ********************/

.flex {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
}

.flex h1 {
  text-align: center;
  flex-grow: 1;
  flex-basis: 100%;
  line-height: 150%;
}

.flexbox-1 {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0px 30px;
}

.flexbox-2 {
  flex-grow: 2;
  flex-basis: 40%;
  padding: 0px 5px;
}

.flexbox-3 {
  flex-grow: 3;
  flex-basis: 100%;
  padding: 5px;
}

.flex-footer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.flexbox-f1 {
  flex-grow: 1;
  flex-basis: fill;
  padding: 0px 10px;
}

.flexbox-f3 {
  flex-grow: 3;
  flex-basis: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8rem;
}

/******************** INDEX ********************/

.img-tile {
  height: 300px;
  width: 300px;
  border: 2px solid var(--accent);
  border-radius: 200px;
  margin-bottom: 20px;
}

.img-tile:hover {
  filter: grayscale(0%);
  transition-duration: 500ms;
  width: 500px;
  font-weight: bold;
}

.info-tile {
  color: var(--accent);
  background-color: rgba(18, 1, 54, 0.7);
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 20%;
  padding: 15px;
  border-radius: 40px;
}

.exhibition {
  background-image: url("../images/exhibition-medium.jpg");
}

.library {
  background-image: url("../images/library-medium.jpg");
}

.scientific {
  background-image: url("../images/scientific-medium.jpg");
}

.painting {
  background-image: url("../images/vr-painting_medium.jpg");
}

.ants {
  background-image: url("../images/ants-medium.jpg");
}

.mammoth {
  background-image: url("../images/mammoth-medium.jpg");
}

/******************** VISIT US ********************/

/******************** EXHIBITIONS ********************/

/******************** EVENTS ********************/

.events li {
  padding-bottom: 40px;
}

.calendar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.month {
  line-height: 300%;
  flex-basis: 30%;
  padding-left: 100px;
  margin-bottom: 10px;
  background: var(--alternate);
  border: 3px solid var(--accent);
  border-radius: 50px;
}

.active {
  background: var(--contrast);
  border: 3px solid var(--link);
}

/******************** EXPLORE ********************/

/******************** GET INVOLVED ********************/

/******************** NEWS ********************/

/******************** ABOUT US ********************/

/******************** CONTACT US ********************/

/**************************************** MEDIA QUERIES ****************************************/

/******************** MOBILE MEDIA ********************/

@media only screen and (max-width: 620px) {
  header {
    height: 150px;
  }
  header nav {
    display: none;
  }

  .logo-txt {
    font-size: 2.3rem;
    margin: 25px auto auto 100px;
  }

  #hamburger-menu {
    display: block;
    margin: 70px 90%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .information-tiles {
    display: block;
    margin: 20px 15%;
    padding: 70px 10px;
  }

  .img-tile {
    height: 250px;
    width: 250px;
  }

  .img-tile:hover {
    width: 300px;
  }

  .copy img {
    width: 100%;
  }

  .copy p,
  .copy cite,
  .copy ul {
    font-size: 1.1rem;
  }

  footer {
    font-size: 1rem;
  }
}

/******************** TABLET MEDIA ********************/

@media only screen and (min-width: 620px) {
  header {
    height: 150px;
  }

  header nav {
    display: none;
  }

  .logo-txt {
    font-size: 2.7rem;
    margin: 25px auto auto 100px;
  }

  #hamburger-menu {
    display: block;
    margin: 70px 90%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .information-tiles {
    display: block;
    margin: 20px 10%;
    padding: 50px 10px;
  }

  .img-tile {
    height: 300px;
    width: 300px;
  }

  .img-tile:hover {
    width: 400px;
  }

  .copy img {
    width: 100%;
  }

  .copy p,
  .copy cite,
  .copy ul {
    font-size: 1.3rem;
  }

  .flexbox-1 img {
    max-width: 400px;
  }

  footer {
    font-size: 1.1rem;
  }
}

/******************** PC MEDIA ********************/

@media only screen and (min-width: 1300px) {
  header {
    height: 150px;
  }

  header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    font-size: 1.3rem;
  }

  .logo-txt {
    font-size: 2.7rem;
    margin: 25px auto auto 100px;
  }

  #hamburger-menu {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .information-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    margin: 20px 10%;
    padding: 50px 10px;
  }

  .img-tile {
    height: 350px;
    width: 350px;
  }

  .img-tile:hover {
    width: 500px;
  }

  .copy img {
    width: 450px;
  }

  .copy p,
  .copy cite,
  .copy ul {
    font-size: 1.5rem;
  }

  footer {
    font-size: 1.2rem;
  }
}
