/**************************************** ASSETS ****************************************/

/******************** COLOUR PALETTE 
#000075 - Navy blue
#0000d0 - Medium blue
#82d2ff - Light sky blue
#82d282 - Mantis
#ff8c00 - Dark orange

********************/

/******************** FONTS ********************/
@font-face {
  font-family: "Fabrik";
  src: url(../Fonts/fabrik.ttf);
}

/**************************************** WEBSITE ****************************************/
/******************** CSS VARIABLES ********************/

.variables {
  --navy: #000075;
  --med-blue: #0000d0;
  --sky: #82d2ff;
  --mantis: #82d282;
  --dark-orange: #ff8c00;
  --fabrik: "Fabrik", Verdana, sans-serif;
}

/******************** SHARED ATTRIBUTES ********************/
header,
footer {
  position: fixed;
  width: 100%;
  left: 0px;
}
header,
nav,
footer {
  z-index: 1;
}

nav ul,
footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav li,
footer li {
  padding: 0px 15px 5px 15px;
}

.exhibition,
.library,
.scientific,
.painting,
.ants,
.mammoth {
  background-position: 50% 50%;
  filter: grayscale(100%);
  transition-duration: 500ms;
  flex-grow: 0;
}

/******************** GLOBAL ********************/

html {
  height: 100%;
}

body {
  background-image: linear-gradient(#000075, #0000d0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90%;
  font-family: var(--fabrik);
}

header {
  background-color: var(--mantis);
  height: 150px;
  top: 0px;
}

.logo {
  width: 200px;
  display: block;
}

.logo img {
  position: absolute;
  height: 60%;
  margin: 30px;
}

.logo-txt {
  position: absolute;
  font-weight: 900;
}

.current {
  border: 2px solid var(--med-blue);
  border-radius: 100px;
  background-image: linear-gradient(#000075, #0000d0);
  color: var(--dark-orange);
  padding: 10px 15px;
  text-transform: uppercase;
}

header .current:hover {
  color: var(--sky);
}

nav li {
  font-size: 1.2rem;
}

footer .current:hover {
  color: var(--mantis);
}

main {
  margin: 160px 30px 100px 30px;
}

footer {
  background-color: var(--sky);
  height: 50px;
  bottom: 0px;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

/******************** LINKS ********************/

a {
  text-decoration: none;
  color: var(--dark-orange);
  letter-spacing: 0.25rem;
  font-weight: 600;
}

a:hover {
  color: var(--mantis);
  text-transform: uppercase;
}

header a,
footer a {
  color: var(--navy);
}

header a:hover,
footer a:hover {
  color: var(--med-blue);
}

/******************** FORMS ********************/

/******************** INDEX ********************/

.img-tile {
  height: 300px;
  width: 300px;
  border: 2px solid var(--dark-orange);
  border-radius: 200px;
  margin-bottom: 20px;
}

.img-tile:hover {
  filter: grayscale(0%);
  transition-duration: 500ms;
  width: 500px;
  font-weight: bold;
}

.info-tile {
  color: var(--dark-orange);
  background-color: rgba(0, 0, 117, 0.7);
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 20%;
  padding: 15px;
  border-radius: 40px;
}

.exhibition {
  background-image: url("../images/exhibition-medium.jpg");
}

.library {
  background-image: url("../images/library-medium.jpg");
}

.scientific {
  background-image: url("../images/scientific-medium.jpg");
}

.painting {
  background-image: url("../images/vr-painting_medium.jpg");
}

.ants {
  background-image: url("../images/ants-medium.jpg");
}

.mammoth {
  background-image: url("../images/mammoth-medium.jpg");
}

/******************** ABOUT US ********************/

/******************** CONTACT US ********************/

/******************** VISIT US ********************/

/******************** EXPLORE ********************/

/******************** EVENTS ********************/

/******************** EXPERIENCES ********************/

/******************** NEWS ********************/

/******************** GET INVOLVED ********************/

/**************************************** MEDIA QUERIES ****************************************/

/******************** MOBILE MEDIA ********************/

@media only screen and (max-width: 599px) {
  .logo {
    margin-left: 150px;
  }

  .logo img {
    height: 40%;
  }

  .logo-txt {
    font-size: 1.5rem;
    margin: 60px auto auto 100px;
  }

  .hamburger-menu--checkbox {
    position: fixed;
    width: 35px;
    top: 60px;
    width: 35px;
    left: 30px;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav {
    display: none;
    width: 200px;
    margin-top: 140px;
    background: var(--mantis);
  }

  .information-tiles {
    display: block;
  }

  .img-tile {
    height: 250px;
    width: 250px;
  }

  .img-tile:hover {
    width: 300px;
  }

  footer {
    font-size: 0.8rem;
  }
}

/******************** TABLET MEDIA ********************/

@media only screen and (min-width: 600px) {
  .logo {
    margin-left: 150px;
  }

  .logo img {
    height: 50%;
  }

  .logo-txt {
    font-size: 1.7rem;
    margin: 60px auto auto 120px;
  }

  .hamburger-menu--checkbox {
    position: fixed;
    width: 35px;
    top: 60px;
    width: 35px;
    left: 30px;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav {
    display: none;
    width: 200px;
    margin-top: 140px;
    background: var(--mantis);
  }

  .information-tiles {
    display: block;
  }

  .img-tile {
    height: 300px;
    width: 300px;
  }

  .img-tile:hover {
    width: 400px;
  }

  footer {
    font-size: 1.1rem;
  }
}

/******************** PC MEDIA ********************/

@media only screen and (min-width: 1200px) {
  .logo img {
    height: 60%;
  }

  .logo-txt {
    font-size: 2rem;
    margin: 60px auto auto 140px;
  }

  .hamburger-menu--checkbox {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  nav {
    position: absolute;
    top: -100px;
    right: 15%;
    left: 45%;
    width: 55%;
    flex-direction: row;
  }

  .information-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
  }

  .img-tile {
    height: 350px;
    width: 350px;
  }

  .img-tile:hover {
    width: 500px;
  }

  footer {
    font-size: 1.2rem;
  }
}
