/**************************************** ASSETS ****************************************/

/******************** COLOUR PALETTE 
#000075 - Navy blue
#0000d0 - Medium blue
#82d2ff - Light sky blue
#82d282 - Mantis
#ff8c00 - Dark orange

********************/

/******************** FONTS ********************/
@font-face {
  font-family: "Fabrik";
  src: url(../Fonts/fabrik.ttf);
}

/**************************************** WEBSITE ****************************************/
/******************** CSS VARIABLES ********************/

.variables {
  --navy: #000075;
  --med-blue: #0000d0;
  --sky: #82d2ff;
  --mantis: #82d282;
  --dark-orange: #ff8c00;
  --fabrik: "Fabrik", Verdana, sans-serif;
}

/******************** SHARED ATTRIBUTES ********************/
header,
footer {
  left: 0px;
  right: 0px;
}
header,
nav,
footer {
  z-index: 1;
}

nav ul,
footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px -10px;
}

nav li,
footer li {
  padding: 10px;
}

.exhibition,
.library,
.scientific,
.painting,
.ants,
.mammoth {
  background-position: 50% 50%;
  filter: grayscale(100%);
  transition-duration: 500ms;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************** GLOBAL ********************/

html {
  height: 100%;
}

body {
  background-image: linear-gradient(#000075, #0000d0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90%;
  font-family: var(--fabrik);
}

header {
  position: fixed;
  background-color: var(--mantis);
  height: 180px;
  top: 0px;
  border-bottom: 5px double var(--navy);
}

.logo {
  width: 200px;
  display: block;
}

.logo img {
  position: absolute;
  height: 60%;
  margin: 10px;
}

.logo-txt {
  position: absolute;
  font-weight: 900;
}

.current {
  color: var(--dark-orange);
  text-transform: uppercase;
  border-bottom: 3px double var(--med-blue);
  padding: 0px 5px;
  text-shadow: 2px 1px var(--navy);
}

header .current:hover {
  color: var(--sky);
}

footer .current:hover {
  color: var(--mantis);
}

main {
  margin: 220px 5% 20px 5%;
  font-size: 1.5rem;
  min-height: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  padding-left: 50px;
}

h3 {
  font-size: 1.6rem;
  color: var(--med-blue);
}

.copy {
  background-color: #bdbdbd;
  color: var(--navy);
  padding: 50px 10%;
  margin: 0px 5%;
  border-radius: 50px;
}
.copy ul {
  list-style-type: none;
}

.copy img {
  border-radius: 50px;
  border: 5px double var(--navy);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(150px, auto);
}

.grid h1 {
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
}

footer {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--sky);
  text-align: center;
  padding: 20px 20px 10px 20px;
  border-radius: 50px 50px 0px 0px;
  opacity: 0.8;
}

footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/******************** LINKS ********************/

a {
  text-decoration: none;
  color: var(--dark-orange);
  letter-spacing: 0.25rem;
  font-weight: 600;
}

a:hover {
  color: var(--mantis);
  text-transform: uppercase;
}

.copy a {
  border-bottom: 2px solid var(--navy);
  text-shadow: 2px 1px var(--navy);
}

header a,
footer a {
  color: var(--navy);
}

header a:hover,
footer a:hover {
  color: var(--med-blue);
}

/******************** FORMS ********************/

/******************** INDEX ********************/

.img-tile {
  height: 300px;
  width: 300px;
  border: 2px solid var(--dark-orange);
  border-radius: 200px;
  margin-bottom: 20px;
}

.img-tile:hover {
  filter: grayscale(0%);
  transition-duration: 500ms;
  width: 500px;
  font-weight: bold;
}

.info-tile {
  color: var(--dark-orange);
  background-color: rgba(0, 0, 117, 0.7);
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 20%;
  padding: 15px;
  border-radius: 40px;
}

.exhibition {
  background-image: url("../images/exhibition-medium.jpg");
}

.library {
  background-image: url("../images/library-medium.jpg");
}

.scientific {
  background-image: url("../images/scientific-medium.jpg");
}

.painting {
  background-image: url("../images/vr-painting_medium.jpg");
}

.ants {
  background-image: url("../images/ants-medium.jpg");
}

.mammoth {
  background-image: url("../images/mammoth-medium.jpg");
}

/******************** VISIT US ********************/

.visit-one {
  grid-column: 1;
  grid-row: 2;
}

.mapouter {
  grid-column: 2;
  grid-row: 2/4;
}

.visit-two {
  grid-column: 1;
  grid-row: 3;
}

.visit-three {
  grid-column: 1;
  grid-row: 4;
}

.visit-four {
  grid-column: 2;
  grid-row: 4;
}

.visit-img {
  grid-column: 2;
  grid-row: 5/7;
}

.visit-five {
  grid-column: 1;
  grid-row: 5;
}

.visit-six {
  grid-column: 1;
  grid-row: 6;
}

/******************** EXHIBITIONS ********************/

.experience-one {
  grid-column: 1;
  grid-row: 2;
}

.experience-two {
  grid-column: 2;
  grid-row: 2;
}

.experience-three {
  grid-column: 1;
  grid-row: 3;
}

.experience-four {
  grid-column: 2;
  grid-row: 3;
}

.experience-five {
  grid-column: 1;
  grid-row: 4;
}

.experience-six {
  grid-column: 2;
  grid-row: 4;
}

.experience-seven {
  grid-column: 1;
  grid-row: 5;
}

.experience-eight {
  grid-column: 2;
  grid-row: 5/7;
}

.experience-nine {
  grid-column: 1;
  grid-row: 6;
}

/******************** EVENTS ********************/

/******************** EXPLORE ********************/

.explore-one {
  grid-column: 1;
  grid-row: 2;
}

.explore-two {
  grid-column: 2;
  grid-row: 2;
}

.explore-three {
  grid-column: 1;
  grid-row: 3;
}

.explore-four {
  grid-column: 2;
  grid-row: 3;
}

.explore-five {
  grid-column: 1;
  grid-row: 4;
}

.explore-six {
  grid-column: 2;
  grid-row: 4;
}

/******************** GET INVOLVED ********************/

.involved-one {
  grid-column: 1;
  grid-row: 2;
}

.involved-two {
  grid-column: 2;
  grid-row: 2;
}

/******************** NEWS ********************/

/******************** ABOUT US ********************/

/******************** CONTACT US ********************/

/**************************************** MEDIA QUERIES ****************************************/

/******************** MOBILE MEDIA ********************/

@media only screen and (max-width: 599px) {
  .logo {
    margin-left: 30px;
  }

  .logo img {
    height: 30%;
  }

  .logo-txt {
    font-size: 1.3rem;
    margin: 20px auto auto 80px;
  }

  nav {
    margin-top: 70px;
    font-size: 1.1rem;
    margin-left: -20px;
  }

  .information-tiles {
    display: block;
    margin: 0px 15%;
  }

  .img-tile {
    height: 250px;
    width: 250px;
  }

  .img-tile:hover {
    width: 300px;
  }

  .copy img {
    width: 90%;
  }

  footer {
    font-size: 0.8rem;
  }
}

/******************** TABLET MEDIA ********************/

@media only screen and (min-width: 600px) {
  .logo {
    margin-left: 100px;
  }

  .logo img {
    height: 40%;
  }

  .logo-txt {
    font-size: 1.5rem;
    margin: 30px auto auto 100px;
  }

  nav {
    margin-top: 85px;
    font-size: 1.2rem;
    margin-left: -20px;
  }

  .information-tiles {
    display: block;
    margin: 0px 10%;
  }

  .img-tile {
    height: 300px;
    width: 300px;
  }

  .img-tile:hover {
    width: 400px;
  }

  .copy img {
    width: 90%;
  }

  footer {
    font-size: 1.1rem;
  }
}

/******************** PC MEDIA ********************/

@media only screen and (min-width: 1200px) {
  .logo img {
    height: 50%;
  }

  .logo-txt {
    font-size: 1.7rem;
    margin: 50px auto auto 130px;
  }

  nav {
    margin-top: 130px;
    font-size: 1.2rem;
  }

  .information-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
  }

  .img-tile {
    height: 350px;
    width: 350px;
  }

  .img-tile:hover {
    width: 500px;
  }

  .copy img {
    width: 500px;
  }

  footer {
    font-size: 1.2rem;
  }
}
